<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> django document</title>
</head>
<body>
    <h1>this is index html page </h1>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut corporis dolorem, aperiam odit animi fugit explicabo illum porro non quod eos deleniti ipsam vero recusandae ut eius quam numquam. Maiores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi officia illum.
    </p>
</body>
</html>